auto {{ simplestack.interface.interface_name }}.{{ simplestack.interface.vlan_name }}
iface {{ simplestack.interface.interface_name }}.{{ simplestack.interface.vlan_name }} inet static
  address {{ simplestack.interface.address }}
  netmask {{ simplestack.interface.netmask }}
